<div class="score-block">
  @if (getGameStatusText() === 'UPCOMING') {
    <div class="upcoming-date">
      {{ formatUpcomingDate(game.scheduled) }}
    </div>
    <div class="upcoming-time">
      {{ formatUpcomingTime(game.scheduled) }}
    </div>
  } @else {
    <div class="score">
      <span [ngClass]="getScoreColorClass(false)">
        {{ game.scoring.away_points }}
      </span>
      <span class="dash">–</span>
      <span [ngClass]="getScoreColorClass(true)">
        {{ game.scoring.home_points }}
      </span>
    </div>
  }

  <div class="venue">
    <span class="venue-name">{{ game.venue.name }}</span>, {{ game.venue.city }}
  </div>
  
</div>
