.game-card {
  background: #1f1f1f;
  padding: 1.5rem;
  border-radius: 12px;
  position: relative;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.3);
}

.status-badge {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100px; 
  height: 28px; 
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  font-size: 0.75rem;
  font-weight: 700;
  border-radius: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &.final {
    background-color: #1f883d;
    color: white;
  }

  &.live {
    background-color: #d0342c;
    color: white;
  }

  &.upcoming {
    background-color: #d4a017;
    color: black;
  }
}


.team-score-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.5rem;
  gap: 1rem;


}
