.game-card {
  background: #1f1f1f;
  padding: 1rem;
  border-radius: 12px;
  position: relative;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 200px;
  border-style: solid;
  border-color: rgb(140, 138, 138);

}

.team-score-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 2rem;

  > * {
    flex: 1 1 0;
  }

}

.center-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  width: 100%;
}

.status-badge {
  width: 100%;
  max-width: 100%;
  text-align: center;
  margin-bottom: 0.5rem;

  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  font-weight: 700;
  color: white;


  &.final {
    background-color: #1f883d;
  }

  &.live {
    background-color: #d0342c;
  }

  &.upcoming {
    background-color: #d4a017;
  }
}
